<div class="row autocomplete">
    <div class="col-12 px-0">
        <input type="text" [formControl]="searchCtrl" class="search" placeholder="Search.." (blur)="blurInput()"
            (focus)="showListing = true">
    </div>
    <div class="list-group col-12 px-0 suggestion-list" *ngIf="optionsListing && showListing">
        <a href="javascript:void(0)" class="list-group-item link-item" (click)="chooseOption(suggest)"
            *ngFor="let suggest of optionsListingTemp">{{suggest}}</a>
    </div>
</div>